---
---

@import "normalize";
@import "typebase";
@import "variables";
@import "mixins";


.container {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    @include breakpoint-up(sm){
        width:540px;
    }
    @include breakpoint-up(md){
        width:720px;
    }
    @include breakpoint-up(lg){
        width:960px;
    }
    @include breakpoint-up(xl){
        width:1140px;
    }
    @include breakpoint-up(xxl){
        width:1320px;
    }
}
a {
    color: #2EAF7D;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: #3FD0C9;
    }
}
section {
    display:grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
    padding-bottom:20px;
    .heading {
        font-family: 'Roboto Serif', serif;
    }
}    

header {
    padding: 40px;
    line-height: 2em;
    text-align: center;
    .name {
        font-size: 2em;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .role {
        font-size: 1.25em;
    }
    .location {}
    .social-links {
        a {
            font-size: 25px;
            padding: 5px;
            color: #2EAF7D;
            &:hover {
                color: #3FD0C9;
            }
        }
    }
}
.position {
    padding-bottom:20px;
    .title {}
    .date-location {
        display:grid;
        grid-template-columns: 50% 50%;
        .location { 
            text-align: right;
        }
    }
    .description {}
}