<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include nav.html %}
  {% include header.html %}
  <div class="container">    
    <section>
      <h3 class="heading">Experience</h3>
      <div class="content">
        <div class="position">
          <div class='title-employer'><span class="title">Director of Web Services</span> | <a href="https://www.inboundignited.com">Inbound Ignited</a></div>
          <div class='date-location'>
            <div class="date">Mar 2021 – Present</div>
            <div class="location">Remote, St. Louis, MO</div>
          </div>
          <div class='description'>
            <ul>
              <li>Development and implementation of developer centric solutions utilizing Hubspot such as: Custom Objects, Custom Coded Workflow Actions, HubSpot API integrations, Serverless Functions, HubDB, HubSpot CLI tools</li>
              <li>Development and maintenance of templates, themes, modules, landing pages, and forms.</li>
              <li>Technical Onboarding and Implementation of Hubspot (All HubSpot Pro/Enterprise Hubs; Marketing, Sales, Service, Operations, and CMS)</li>
              <li>Implement analytics and tracking to measure and report on the success of campaigns and initiatives.</li>
              <li>Version control and code repository usage and administration (GitHub)</li>
              <li>SEO Optimization and ADA accessibility (Google Lighthouse & HubSpot)</li>
            </ul>
          </div>
        </div>
        <div class="position">
          <div class='title-employer'><span class="title">Senior Web Developer</span> | <a href="https://www.ecu.edu">East Carolina University</a></div>
          <div class='date-location'>
            <div class="date">Nov 2013 – Mar 2021</div>
            <div class="location">Hybrid | Greenville, NC</div>
          </div>
          <div class='description'>
            <ul>
              <li>Development and maintenance of the ECU Homepage and supporting pages (Yii PHP Framework)</li>
              <li>Content management implementation, administration, development, and support (WordPress, CommonSpot)</li>
              <li>Continuous integration/delivery administration (Jenkins, RedHat OpenShift, GitHub)</li>
              <li>Version control and code repository administration (GitHub)</li>
              <li>Web analytics and monitoring administration (Google Analytics, New Relic)</li>
              <li>Database management (MSSQL, MySQL)</li>
              <li>Web server administration (IIS, Apache)</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h3 class="heading">Education</h3>
      <div class="content">
        <div>B.S. Computer Information Systems from <a href="https://www.usi.edu/">University of Southern Indiana</a></div>
      </div>
    </section>
    <section>
      <h3 class="heading">Certifications</h3>
      <div class="content">
        <div><a href="https://www.zend-zce.com/en/yellow-pages/ZEND028076">Zend Certified PHP Engineer</a></div>
        <div><a href="https://academy.hubspot.com/">HubSpot</a> | Data Integrations Certification</div>
        <div><a href="https://academy.hubspot.com/">HubSpot</a> | HubSpot CMS For Developers</div>
        <div><a href="https://academy.hubspot.com/">HubSpot</a> | Data Integrations Certification</div>
      </div>
    </section>
  </div>
  {% include footer.html %}
  {% include js.html %}
</body>

</html>
