<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include nav.html %}
  {% include header.html %}
  <div class="container">    
    <section>
      <div class="heading">Experience</div>
      <div class="content">
        <div class="">Currently Director of Web Services at <a href="https://www.inboundignited.com">Inbound Ingited</a></div>
        <div class="">Formerly Senior Web Developer at <a href="https://www.ecu.edu">East Carolina University</a></div>
      </div>
    </section>
    <section>
      <div class="heading">Education</div>
      <div class="content">
        <div>B.S. Computer Information Systems from <a href="https://www.usi.edu/">University of Southern Indiana</a></div>
      </div>
    </section>
    <section>
      <div class="heading">Certifications</div>
      <div class="content">
        <div><a href="https://www.zend-zce.com/en/yellow-pages/ZEND028076">Zend Certified PHP Engineer</a></div>
        <div><a href="https://academy.hubspot.com/">HubSpot</a> | Data Integrations Certification</div>
        <div><a href="https://academy.hubspot.com/">HubSpot</a> | HubSpot CMS For Developers</div>
        <div><a href="https://academy.hubspot.com/">HubSpot</a> | Data Integrations Certification</div>
      </div>
    </section>
  </div>
  {% include footer.html %}
  {% include js.html %}
</body>

</html>
